<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/main/main.css}">
    <script th:src="@{/static/js/main/main.js}"></script>
</head>
<body>
<div class="container">
    <h1>환영합니다, <span th:text="${username}"></span>님</h1>
    <div class="tab">
        <button class="tablinks" onclick="openTab(event, 'Friends')" th:classappend="${activeTab == 'Friends'} ? 'active'">Friends</button>
        <button class="tablinks" onclick="openTab(event, 'Chats')" th:classappend="${activeTab == 'Chats'} ? 'active'">Chats</button>
    </div>

    <div id="Friends" class="tabcontent" th:style="${activeTab == 'Friends'} ? 'display:block'">
        <ul>
            <li th:each="friend : ${friends}" th:text="${friend.friendChatUser.name}"></li>
        </ul>
    </div>

    <div id="Chats" class="tabcontent" th:style="${activeTab == 'Chats'} ? 'display:block'">
        <ul>
            <li th:each="room : ${rooms}" th:attr="data-room-id=${room.chatRoom.id}" onclick="openChatRoom(this)" th:text="${room.chatRoom.name}"></li>
        </ul>
    </div>
</div>
</body>
</html>