body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

input[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

label, input[type="text"], input[type="password"] {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

label {
    margin-bottom: 5px;
}

/**
    css 로고 설정
 */
.logo-container {
    position: absolute;
    top: 220px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 20px;
}

.logo {
    width: 150px;
    height: auto;
}

form {
    background-color: #f3f3f3;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    min-height: 200px;
    box-sizing: border-box;
    margin: 0 auto;
}

.error {
    background-color: #f3f3f3;
    width: 100%;
    min-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}